@{
    ViewData["Title"] = "Movie Added Successfully";
}

@model Mission_4.Models.Movies_Form

    <header class="masthead bg-primary text-white text-center">
    </header>

    <br />
    <a asp-controller="Home" asp-action="Library" class="btn btn-primary">View Library</a>
    <br />
    <br />

    <h2>Movie Added Successfully</h2>