@{
    ViewData["Title"] = "My Podcasts";
}
<header class="masthead bg-primary text-white text-center">
</header>
<h3 font-color="light"><a href="https://baconsale.com/">Listen to my podcast</a></h3>
